*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}
ul{
    list-style-type: none;
   padding: 10px;
    overflow: auto;
  float: right;
  
 
}
li{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    text-decoration: underline;
    
}
div{
    text-align: center;
    background-color: blue;
    padding: 100px;
    margin: 80px;
    font-size: xx-large;
    color: white;
  
}
